.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 20px; /* Optional padding around the content */
}
.form-container {
    background-color: white;
    padding:20px;
    border-radius:50px;
    margin-top: 20px; /* Space between the image and the form */
}
body {
    background-image: url('/static/hearts.jpg');
    background-repeat: repeat; /* Tiles the image horizontally and vertically */
}